body {
    margin: 0 auto;
    padding: 0;

    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;

    background-color: #ffffff;

}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0px 20px;

}

.btn {

    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: grey;
    border: none;
    width: 260px;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}


.header {
    background-color: #eeeeee;
}

.header .container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-header {
  margin-bottom: 75px;
  background-color: #eeeeee;
}

.page-header-catalog {
  padding-bottom: 87px;
  margin-bottom: 40px;
}

.header-logo {
    display: flex;
    width: 300px;
    margin-top: 46px;
    margin-right: 141px;
    color: #cccccc;
}

.header-logo a:hover {
    color: #cccccc;
    opacity: 0.8;
}

.header-logo a:focus {
    color: #cccccc;
    opacity: 0.3;
}

.main-navigation-wrapper {
  display: flex;
}

.main-navigation {
    width: 100%;
}

.site-navigation,
.cart {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
}

.site-navigation-list {
    list-style: none;

}

.main-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.cart a:hover {
    color: #fb565a;

}

.site-navigation a:focus,
.cart a:focus {
    color: #ededed;

}

.site-navigation a:active {
    color: black;
}

.site-navigation ul {
    display: flex;
    justify-content: space-between;
    width: 440px;
    list-style: none;
    margin-top: 75px;
}

.site-navigation li {
    margin-right: 45px;
}

.main-navigation a {
    position: relative;
    color: #000000;
}

.site-navigation-current::before {
    width: 100%;
    height: 2px;
    background-color: #fb565a;

    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
}

.cart {
    display: flex;
    width: 125px;
    list-style: none;
    margin-top: 75px;
    margin-right: 22px;

}

.cart .cart-link {
    position: relative;
    padding-left: 50px;
    margin-left: 20px;
}

.cart-link::before {
    content: "";

    width: 15px;
    height: 15px;

    background-color: #eeeeee;
    position: absolute;
    top: 7px;
    left: 11px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Ccircle fill='%23a6a6a6' cx='4.5' cy='13.5' r='1.5'/%3E%3Ccircle fill='%23a6a6a6' cx='12.5' cy='13.5' r='1.5'/%3E%3Cpath fill='%23a6a6a6' d='M15 2H4.07l-.422-2H0v2h2.031l1.985 9H15V9H9.441L15 6.951z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 0;

}

.cart-link:hover::before,
.cart-link:focus::before,
.cart-link:active::before {
    opacity: 1;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide-text {
  width: 520px;
  padding-top: 72px;
}

.slide-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-transform: none;
}

.slide p {
    text-transform: none;
    margin-top: 27px;
}

.slider {
    position: relative;
    width: 1160px;
    height: 428px;
    margin: 0 auto;
}

.slider input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.slider-controls {
    position: absolute;
    bottom: 101px;
    left: 50%;
    width: 200px;
    height: 10px;
    margin-left: -100px;
    text-align: center;
    z-index: 1000;
}

.slider-controls label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 12px;
    background: white;
    vertical-align: top;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #fff;
    box-shadow: 0 0 0 5px #fff;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    border: 2px solid #eeeeee;
}

.btn-slide {
    display: block;
    width: 242px;
    padding: 12px 0px;
    margin-top: 40px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    background-color: #fb565a;
    text-align: center;
    border-radius: 3px;
}

.slide:nth-child(1) {
    background-image: url(../img/slide1.png);
    background-repeat: no-repeat;
    background-position: 429px 14px;
}

.slide:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 10px;
}

.slide:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 00px;
}

.slide {
    display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

.btn-slide:hover {
    background-color: #fb565a;
    opacity: 1.7;
}

.btn-slide:focus,
.btn-slide:active {
    background-color: #fb565a;
    opacity: 1;
    box-shadow: 0 -3px 0 0 #c13135;
}

.features {
    position: relative;
    width: 100%;
    margin-bottom: 80px;

}

.feature .container {
    width: 100%;
    position: relative;
}

.feature-list {
    display: flex;
    margin: 2px;
    padding-top: 2px;
}

.feature {
    width: 300px;
    text-align: left;
    position: relative;

}

.feature h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}

.feature-text {
    text-transform: none;
    padding-right: 30px;
}

.feature:nth-child(2) {
    margin-left: 100px;
}

.feature:nth-child(3) {
    margin-left: 100px;
}

.btn-feature-order-web {
    display: block;
    width: 160px;
    padding: 11px 0;
    margin-top: 37px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    background-color: #fb565a;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    opacity: 1;
}

.btn-feature-order-web:hover {
    color: #ffffff;
    background-color: #fb565a;
    opacity: 1.5;
}

.btn-feature-order-web:focus,
.btn-feature-order-web:active {
    color: #ffffff;
    background-color: #fb565a;
    opacity: 1.7;
    box-shadow: 0 -3px 0 0 #c13135;
}

.btn-feature-order-apps {
    display: block;
    width: 160px;
    padding: 10px 0px;
    margin-top: 35px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    background-color: #00ca74;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    opacity: 1;
}

.btn-feature-order-apps:hover {
    color: #ffffff;
    background-color: #00ca74;
    opacity: 1.5;
}

.btn-feature-order-apps:focus,
.btn-feature-order-apps:active {
    color: #ffffff;
    background-color: #00ca74;
    box-shadow: 0 -3px 0 0 #009958;
    opacity: 1.7;
}

.btn-feature-order-presentation {
    display: block;
    width: 160px;
    padding: 10px 0px;
    margin-top: 35px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    background-color: #efc84a;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    opacity: 1;
}

.btn-feature-order-presentation:hover {
    color: #ffffff;
    background-color: #efc84a;
    opacity: 1.5;
}

.btn-feature-order-presentation:focus,
.btn-feature-order-presentation:active {
    color: #ffffff;
    background-color: #efc84a;
    box-shadow: 0 -3px 0 0 #ce961f;
    opacity: 1.7;
}


.features::after {
    width: 1165px;
    height: 2px;
    background-color: #eeeeee;
    position: absolute;
    content: "";
    bottom: -81px;
    left: 3px;
  
}

.info {
    display: flex;
    text-transform: none;
    margin-top: 122px;
    margin-bottom: 13px;
}

.left-column {
    width: 660px;
}

.info-title {
    margin-bottom: 31px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    width: 664px;
}

.info-text {
    padding-bottom: 19px;
    font-size: 16px;
}

.list-orders {
    padding: 0 0 0 35px;
}

.list-orders li {
    list-style: none;
    position: relative;
    padding-bottom: 24px;
}

.list-orders ::before {
    width: 25px;
    height: 2px;
    background-color: #fb565a;

    position: absolute;
    content: "";
    top: 11px;
    left: -36px;
}

.right-column {
    width: 500px;
}

.info-title-list {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
}

.about-us img {
    padding-left: 140px;
}

.about-us-heading {
    margin-bottom: 50px;
    margin-top: 30px;
    text-transform: uppercase;
    padding-left: 157px;
    font-size: 16px;
    font-weight: 700;
}

.about-us-plus {
    display: flex;
    list-style: none;
    padding-left: 138px;
}

.about-us-plus li {
    display: flex;
    flex-direction: column;
}

.about-us-data {
    font-size: 45px;
    font-weight: bold;
    display: block;
    margin-bottom: 31px;
}

.about-us-text {
    line-height: 18px;
}

.about-us-data-sup {
    font-size: 28px;
}

.about-us-146 {
    margin-right: 24px;
}

.about-us-100 {
    margin-right: 20px;
}

.partners {
    display: flex;
    margin: 0;
    padding: 0;
    padding-top: 29px;
    justify-content: space-around;
    align-items: center;
    min-height: 185px;
    margin-bottom: 71px;
    position: relative;

}

.partners::after {
    width: 100%;
    height: 2px;
    background-color: #eeeeee;

    position: absolute;
    content: "";
    top: 20px;
    left: 0;

}

.partners::before {
    width: 100%;
    height: 2px;
    background-color: #eeeeee;
    position: absolute;
    content: "";
    bottom: 9px;
    left: 0;
}


.partners-item {
    margin-left: -22px;
    color: black;
    opacity: 0.3;
    position: relative;
}


.partners-item-htmlacademy::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 50px;
    background-color: #eeeeee;
    left: 295px;
    top: 90px;
}

.partners-item-barbershop::before {
    position: absolute;
    content: "";
    width: 2px;
    height: 50px;
    background-color: #eeeeee;
    left: 595px;
    top: 90px;
}

.partners-item-pink:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 50px;
    background-color: #eeeeee;
    left: 895px;
    top: 90px;
}


.partners a:hover {
    color: black;
    opacity: 1;
}

.partners a:active,
.partners a:active {
    color: black;
    opacity: 0.7;
}


.partners-item:nth-child(4)::before {
    display: none;
}


.map {
    width: 100%;
    position: relative;
    margin-bottom: 67px;
}

iframe {
    width: 100%;
    height: 416px;
    border: 0;
}

.contacts {
    position: absolute;
    width: 320px;
    height: 310px;
    margin: 0 auto;
    top: 53px;
    left: 82px;
    background: white;
    text-align: center;

}

.btn-contact-us {
    display: block;
    width: 220px;
    padding: 11px 0px;
    margin-top: 37px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    background-color: #fb565a;
    text-align: center;
    border-radius: 3px;
    vertical-align: middle;
    margin-left: 50px;
}


.contacts-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 21px;
    margin-left: -26px;
}

.contacts-text {
    text-transform: none;
    text-align: left;
    padding-left: 53px;
    width: 247px;
    font-size: 16px;
    line-height: 20px;
}

.page-footer .container {
    display: flex;
}

.page-footer a:hover,
.page-footer a:focus,
.page-footer a:active {
    text-decoration: none;
}


.social-link {
    position: relative;
    margin-right: 122px;
    display: flex;
    justify-content: space-between;

}

.social-btn {
    margin-right: 10px;
    background: #e1e1e1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 0;

}


.social-btn-vk::before {
    position: absolute;
    content: "";
    width: 26px;
    height: 15px;

    background: #e1e1e1;
    top: 30px;
    left: 25px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='15' viewBox='0 0 26 15'%3E%3Cpath fill='%23FFF' d='M16.138 11.51c.956-.309 2.18 2.04 3.483 2.939.978.681 1.727.534 1.727.534l3.473-.05s1.815-.112.957-1.554c-.071-.12-.503-1.069-2.585-3.022-2.177-2.043-1.882-1.712.739-5.244 1.597-2.153 2.236-3.468 2.036-4.028-.192-.539-1.365-.399-1.365-.399L20.69.713c-.381.001-.704.119-.851.515-.003.004-.621 1.666-1.445 3.079-1.741 2.989-2.436 3.148-2.724 2.961-.661-.433-.494-1.737-.494-2.664 0-2.897.432-4.105-.846-4.417-.427-.104-.739-.172-1.828-.182-1.392-.021-2.574 0-3.244.329-.445.223-.786.712-.579.74.26.035.843.16 1.155.586.401.552.389 1.789.389 1.789s.229 3.411-.54 3.834c-.528.29-1.25-.302-2.803-3.016-.793-1.388-1.392-2.922-1.392-2.922s-.116-.285-.326-.441c-.25-.185-.6-.244-.6-.244L.848.684S.29.7.085.946c-.182.218-.015.668-.015.668s2.909 6.881 6.203 10.347c3.02 3.182 6.452 2.971 6.452 2.971h1.555s.469-.054.709-.312c.224-.24.214-.691.214-.691s-.031-2.109.935-2.419z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.social-btn-vk:hover::before {
    opacity: 1;
}

.social-btn-fb::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 22px;

    background: #e1e1e1;
    top: 23px;
    left: 122px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='22' viewBox='0 0 12 22'%3E%3Cpath fill='%23FFF' d='M12 4V0H8a4 4 0 0 0-4 4v4H0v4h4v10h4V12h4V8H8V4h4z'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.social-btn-fb:hover::before {
    opacity: 1;
}

.social-btn-inst::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 21px;

    background: #e1e1e1;
    top: 27px;
    left: 210px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21'%3E%3Cpath fill='%23FFF' d='M18 0H3C1.35 0 0 1.35 0 3v15c0 1.65 1.35 3 3 3h15c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3zm-7.5 7c1.93 0 3.5 1.57 3.5 3.5S12.43 14 10.5 14 7 12.43 7 10.5 8.57 7 10.5 7zM18 18H3V9h1.181A6.504 6.504 0 0 0 4 10.5a6.5 6.5 0 1 0 13 0 6.45 6.45 0 0 0-.181-1.5H18v9zm0-11h-4V3h4v4z'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.social-btn-inst:hover::before {
    opacity: 1;
}


.bonus {
    width: 560px;
}


.bonus-title {
    margin: 0;
    margin-left: 7px;
    font-size: 36px;
    line-height: 36px;
    text-transform: none;
    font-weight: 700;
}

.bonus-text {
    margin-left: 6px;
    margin-top: 10px;
    text-transform: none;
}




/*cетка каталога*/

.inner-page .main-header {
    min-height: 355px;
}

.inner-page .main-navigation {
    display: flex;
}

.inner-page .header-logo {
    margin:0;
    margin-top: 50px;
    margin-right: 25px;

}

.inner-page .promo {
    display: flex;
    text-align: center;
    margin-left: 217px;
    padding-bottom: 20px;
    padding-top: 71px;
}


.promo-title {
    margin: 0;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-transform: none;
    vertical-align: text-bottom;
}


.catalog-columns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.filters {
    width: 260px;
    min-height: 770px;

}

.filters {
    text-transform: none;
}

.range-filters {
    display: flex;
    margin-bottom: 60px;
    
    
}

.title-filter-price{
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 15px;
}

.title-filter h3 {
    margin: 0;
    padding: 0;   
}


.range-filter {
    width: 260px;
    margin: 0;
    text-transform: uppercase;
}

.range-controls {
    position: relative;
    height: 80px;
    margin-bottom: 13px;
    padding: 0 20px;
    background: #eeeeee;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 48px;
}

.range-controls .min-price {
    margin-right: 25px;
}


.range-controls .scale {
    margin-top: 39px;
    height: 2px;
    background: #dfe2e3;
}

.range-controls .bar {
    height: 2px;
    background: #4fd69d;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid white;
    border-radius: 50%;
    background: #4fd69d;
    box-shadow: 0 2px 1px 0 #d9d9d9;
}

.range-controls .toggle-max {
    left: 170px;
}

.price-controls input {
    width: 60px;
    padding: 10px 10px;
    margin-left: 10px;
    margin-right: 27px;
    border: none;
    background: #eeeeee;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    border-radius: 5px;
}

.price-controls {
    margin-bottom: 52px;
    text-transform: uppercase;
}

.price-controls .max-price {
    margin-right: 0;
    margin-left: 7px;
}

.title-filter-net{
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 10px;
}

.blocks {
    margin-top: 40px;
    padding: 0;
}

.title-filter-blocks{
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 20px;
}


input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    position: relative;
    line-height: 18px;
    font-size: 16px;
    padding-left: 30px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

input[type="radio"] + label::before {
    content: "";
    display: block;
    position: absolute;
    left: 0px;
    top: -2px;
    width: 16px;
    height: 16px;
    border: 4px solid #a6a6a6;
    border-radius: 50px;
}

input[type="radio"]:checked + label::after {
    content: "";
    display: block;
    position: absolute;
    left: 8px;
    top: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    background-color: #a6a6a6;
}

.input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    position: relative;
    line-height: 18px;
    font-size: 16px;
    padding-left: 30px;
    vertical-align: top;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 23px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%234D4D4D' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.5;

}

input[type="checkbox"]:checked + label::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%234D4D4D' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%234D4D4D' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.5;
}

.filters ul{
    margin-left: 4px;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}


.filter-input:hover + label {
    color: #c9c9c9;
}

.filter-input:focus + label {
    color: #000000;
}

.filter-input:disabled + label {
    color: #283136;

    opacity: 0.5;
}


.filters-column li {
    margin-bottom: 20px;
}


.container-sort {
    flex-direction: column;
    width: 760px;
    font-size: 16px;
    line-height: 18px;
}

.title-sort h3 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}

.sort-list {
    display: flex;
    justify-content: space-between;
    margin-left: 186px;
}

.sort ul {
    list-style: none;
    font-size: 14px;
    line-height: 18px;
}

.sort-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 29px;
    padding: 0px;
}

.sort-list {
    display: flex;
    justify-content: space-between;
    margin-left: 186px;
}

.arrow-list {
    display: flex;
    list-style: none;
    font-size: 0;
    position: relative;
}

.upper .upper-link::before {
    position: absolute;
    content: "";
    top: 26px;
    left: 0px;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #010101 transparent transparent transparent;
}

.lower .lower-link::before {
    position: absolute;
    content: "";
    top: 25px;
    left: 29px;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #a7a7a7 transparent;
}

.filters-column li {
    margin-bottom: 21px;
}

.btn-submit {
    display: block;
    width: 260px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    background-color: #eeeeee;
    text-align: center;
    border-radius: 3px;
    border: 0;
    margin-top: 55px;
    padding: 14px 0px;
}

.contacts {
    position: absolute;
    width: 320px;
    height: 310px;
    margin: 0 auto;
    top: 53px;
    left: 117px;
    background: white;
    text-align: center;
}

.sort-list-item {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.sort-list-item a {
    padding-right: 10px;
}

.catalog {
    display: flex;

}


.catalog-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}

.catalog-item-text {
    text-transform: none;
    font-size: 16px;
    line-height: 18px;
}

.catalog ul {
    padding: 0;
    margin: 0;

    list-style: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    
}

.btn-catalog {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    padding: 0 40px;
    text-align: center;
    color: #ffffff;
    background-color: #fb565a;
}

.btn-catalog:hover {
    background-color: #e74246;
}

.btn-catalog:focus {
    background-color: #d7373b;
}


.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.catalog-item {
    position: relative;
    margin-top: 50px;
    margin-bottom: 16px;
}

.catalog-item:nth-child(n+5):nth-child(-n+6){
    margin-bottom:0;
}

.catalog-item::before {
    position: absolute;
    content: "";
    width: 360px;
    top: -39px;
    left: 0;
    height: 40px;
    opacity: 0.12;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='360' height='40' viewBox='0 0 360 40'%3E%3Cpath fill='%234D4D4D' d='M356 0H4C1.8 0 0 1.8 0 4v36h360V4c0-2.2-1.8-4-4-4zM22.991 27a7 7 0 1 1 0-14 7 7 0 0 1 0 14zm23.011 0a7 7 0 1 1 0-14 7 7 0 0 1 0 14zm23.011 0a7 7 0 1 1 0-14 7 7 0 0 1 0 14z'/%3E%3C/svg%3E%0A");
    background-repeat: repeat;
}

.catalog-item:hover::before {
    opacity: 0.1;
}

.catalog-item-hover {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

.catalog-item-hover::before{
    position: absolute;
    width: 360px;
    top: -230px;
    left: 0;
    height: 230px;
    background-color: #eeeeee;
    
}

.catalog-item-hover:hover::before{
    position: absolute;
    width: 360px;
    top: 0;
    left: 0;
    height: 230px;
    background-color: #eeeeee;
    opacity: 1;
    
}

.pagination {
    margin-left: 400px;
    margin-top: 0;
}

.pagination ul {
    list-style: none;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 58px;
    

}

.pagination-list {
    
    margin-bottom: 50px;
    padding-left: 2px;
    display: flex;
    flex-wrap: wrap;
}


.pagination li {
    display: flex;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
}

.pagination a {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.pagination-item-current {
    width: 45px;
    height: 45px;
    outline: 2px solid rgba(0, 0, 0, 0.1);

}

.pagination-item-next a {
    width: 260px;
    background: #eeeeee;
}



.write-us {
    text-transform: none;
}

.write-us-title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
}


.btn-submit {
    display: block;
    width: 260px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    background-color: #eeeeee;
    text-align: center;
    border-radius: 3px;
    border: 0;
    margin-top: 60px;
    padding: 14px 0px;
}

.btn-submit:hover {
    background-color: #dfdfdf;
    opacity: 1.7;
}

.btn-submit:focus,
.btn-submit:active {
    background-color: #dfdfdf;
    box-shadow: 0 -3px 0 0 #bfbfbf;
    opacity: 1.7;}


.write-us {
    display: none;
    margin: 0;
    padding: 20px;
    width: 960px;
    background-color: #ffffff;
    box-shadow: 0 0 10px #cccccc;
}

.write-us label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
}

.write input[type="text"],
.write input[type="email"] {
    width: 360px;
    height: 24px;
    margin-bottom: 10px;
    padding: 2px 5px;
    border: 1px solid black;
    box-shadow: none;
    opacity: 0.1;
}

.write input[type="textarea"] {
    width: 100%;
    margin-bottom: 10px;
    box-shadow: none;
    border: 1px solid;
    opacity: 0.1;
}

.write input:hover {
    opacity: 0.3;
}

.write input:focus {
    opacity: 1;
}

.modal-close {
    font-size: 0;
    position: relative;
}

.modal-close::before {
    position: absolute;
    content: "";
    width: 21px;
    height: 21px;
    top: -350px;
    left: 700px;
    opacity: 0.3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21'%3E%3Cpath fill='%23FB565A' d='M13.328 10.5l7.371-7.371a1.003 1.003 0 0 0 0-1.414L19.285.3a1.003 1.003 0 0 0-1.414 0L10.5 7.672 3.129.301a1.003 1.003 0 0 0-1.414 0L.301 1.715a1.003 1.003 0 0 0 0 1.414L7.672 10.5.301 17.871a1.003 1.003 0 0 0 0 1.414l1.415 1.414a1.003 1.003 0 0 0 1.414 0l7.371-7.371 7.371 7.371a1.003 1.003 0 0 0 1.414 0l1.414-1.414a1.003 1.003 0 0 0 0-1.414L13.328 10.5z'/%3E%3C/svg%3E%0A");
    background-repeat: repeat;
    background-position: 0 0;
}

.modal-close:hover::before {
    opacity: 1;
}

.modal-close::before,
.modal-close:active::before {
    opacity: 0.1;
}

.write-us button {
    display: block;
    width: 160px;
    padding: 10px 0px;
    margin-top: 40px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fb565a;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    opacity: 1;
}

/*
.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}


.write-us {
  position: absolute;
  left: 50%;
  top: 40px;
  margin-left: -472px;
}
*/








